.item a::before,
.item a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.item a::before {
    margin-right: 8px;
    content: '[';
    color: #90AFB0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.item a::after {
    margin-left: 8px;
    color: #90AFB0;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.item a:hover::before,
.item a:hover::after,
.item a:focus::before,
.item a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/*::-webkit-scrollbar {
    width: 11px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-corner {
    background: #FFF;
}*/