<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }}</title>
        <link rel="icon" href="../images/rq.png">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
        <link rel="stylesheet" media='(min-width: 1000px)' type="text/css" href="/assets/cat.css">
    </head>
    <body>
        <ul class="menu" id="page">
          <li class="menu"><a class="active" href="/cat/home"><img id="icon" src="../images/cat/cat.png"/></a></li>
          <li class="menu" style="float:right"><a href="/cat/gallery">Gallery&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
          <li class="menu" style="float:right"><a href="/cat/research">Research</a></li>
          <li class="menu" style="float:right"><a href="/cat/about">About</a></li>
        </ul>
        <h1 id="about_title">Who is Star-Lord?</h1>
        <div id="about_content" class="left clear">
        	<p>Star-Lord is the world's greatest cat.</br>Also known as:</p>
			<ul>
			  <li class="list"><span>Ollie</span></li>
			  <li class="list"><span>Triangle Face</span></li>
			  <li class="list"><span>Monkey Boy</span></li>
			  <li class="list"><span>Baby</span></li>
			  <li class="list"><span>Grey Worm</span></li>
			  <li class="list"><span>Creepy Old Man</span></li>
			</ul> 
		</div>
		<div class="left">
			<img id="starlord" src="../images/cat/starlord.png"/>
		</div>
    </body>
</html>