<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins:300,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/effects.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/0.1.15/jquery.scrollify.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script type="text/javascript" src="assets/main.js"></script>
        <script src="https://use.fontawesome.com/309efcafb9.js"></script>
    </head>
    <body> 
        <div id="header_back"></div>
        <div id="header">
            <nav class="item">
                <ul>
                    <li><a href="./" id="home_s">HOME</a></li>
                    <li><a href="./" id="about_s">ABOUT</a></li>
                    <li><a href="./" id="projects_s">PROJECTS</a></li>
                    <li><a href="./" id="resume_s">RESUME</a></li>
                </ul>
            </nav>
        </div>
        <div id="middle">
            <div id="everything">
                <div id="home_section" class="section" data-section-name="home">
                {{ content }}
                </div>
                <div id="about_section" class="section" data-section-name="about">
                    <img src="../images/face.png" alt="Just My Face" id="face"></img>
                    <h2 id="about_title">About Me</h2>
                    <p id="about_description1" style="font-size:1.13em">I have one year left of Computer Science at the University of Calgary.</p>
                    <p id="about_description2">I'm looking for work starting May 2017 and I'd love to hear from you!</p>
                    <hr width="27%" id="about_hr">
                    <nav class="icon">
                        <ul>
                            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                            <li><i class="fa fa-github" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                        </ul>
                    </nav>
                </div>
                <div id="projects_section" class="section" data-section-name="projects">
                    <h2 id="projects_title">Projects</h2>
                    <hr width="33%" id="projects_hr">
                    <div>
                        <h3 id="project1_title" class="project_title">Flying Fingers</h3>
                        <p id="project1_description">A real-time multiplayer type racing Android app using Google Play games services.</p>
                    </div>
                    <div>
                        <h3 id="project2_title" class="project_title"><a href="http://pasteput.com" target="_blank" style="color:#688788">PastePut.com</a></h3>
                        <p id="project2_description">Made with Django and Semantic UI, this simple pastebin offers syntax highlighting and the ability to create and edit private pastes.</p>
                        <button id="view"><a href="https://play.google.com/store?hl=en" target="_blank" style="color:#767676"> View on Google Play </a></button>
                    </div>
                    <img src="../images/projects.png" alt="Projects" id="projects_image"</img>
                </div>
            </div>
        </div>
        <div id="left"></div>
        <div id="right"></div>
        <div id="bottom"></div>
    </body>
</html>