<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/effects.css">
    </head>
    <body> 
        <div id="header_back"></div>
        <div id="header">
            <center>
                <nav class="item">
                    <ul>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/resume">RESUME</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
            </center>
        </div>
        <div id="middle">
            <div id="everything">
                {{ content }}
            </div>
        </div>
        <div id="left"></div>
        <div id="right"></div>
        <div id="bottom"></div>
    </body>
</html>