<!DOCTYPE html>
<html class="noscroll">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }}</title>
        <link rel="icon" href="../images/rq.png">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
        <link rel="stylesheet" media='(min-width: 1000px)' type="text/css" href="/assets/cat.css">
    </head>
    <body class="noscroll">
        <ul class="menu" id="page">
          <li class="menu"><a href="/cat/home"><img id="icon" src="../images/cat/cat.png"/></a></li>
          <li class="menu" style="float:right"><a href="/cat/gallery">Gallery&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
          <li class="menu" style="float:right"><a href="/cat/research">Research</a></li>
          <li class="menu" style="float:right"><a href="/cat/about">About</a></li>
        </ul>
        <h1 id="gallery_title">Gallery</h1>
        <div class="gallery cf">
        <div>
          <img id="cat_dog" src="../images/cat/cat&dog.jpg"/>
        </div>
        <div>
          <img id="cat_dog2" src="../images/cat/cat&dog2.jpg"/>
        </div>
        <div>
          <img id="worm" src="../images/cat/worm.jpg"/>
        </div>
        </div>
        <hr style="height:1px;border:none;color:#C0C0C0;background-color:#C0C0C0;" />
    </body>
</html>