<!DOCTYPE html>
<html id="homepage">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }}</title>
        <link rel="icon" href="../images/rq.png">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
        <link rel="stylesheet" media='(min-width: 1000px)' type="text/css" href="/assets/cat.css">
    </head>
    <body>
        <ul class="menu" id="home">
          <li class="menu"><a class="active" href="/cat/home"><img id="icon" src="../images/cat/cat.png"/></a></li>
          <li class="menu" style="float:right"><a href="/cat/gallery">Gallery&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
          <li class="menu" style="float:right"><a href="/cat/research">Research</a></li>
          <li class="menu" style="float:right"><a href="/cat/about">About</a></li>
        </ul>
        <h1 id="title">Star-Lord</h1>
        <h2 id="subtitle">&nbspGuardian of My Heart</h2>
    </body>
</html>