<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }}</title>
        <link rel="icon" href="../images/rq.png">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
        <link rel="stylesheet" media='(min-width: 1000px)' type="text/css" href="/assets/cat.css">
    </head>
    <body>
        <ul class="menu" id="page">
          <li class="menu"><a href="/cat/home"><img id="icon" src="../images/cat/cat.png"/></a></li>
          <li class="menu" style="float:right"><a href="/cat/gallery">Gallery&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
          <li class="menu" style="float:right"><a href="/cat/research">Research</a></li>
          <li class="menu" style="float:right"><a href="/cat/about">About</a></li>
        </ul>
        <div>
          <img id="baby" src="../images/cat/baby.jpg"/>
        </div>
        <div id="research_content">
          <p id="research_content"> Research shows that while other cats are cute, Star-Lord is the cutest.
          <table>
            <tr>
              <th></th>
              <th>Star-Lord</th>
              <th>All Other Cats</th>
            </tr>
            <tr>
              <td>Cat</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>          
            <tr>
              <td>Cute</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Cutest</td>
              <td>Yes</td>
              <td>No</td>
            </tr>
          </table>
        </div>
    </body>
</html>